---
Language: Cpp
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentAccessModifiers: false
AccessModifierOffset: -4

# Brace style (Qt / Allman)
BreakBeforeBraces: Allman

# Allow short blocks on single line? -> non
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false

# Column width
ColumnLimit: 100

# Spaces
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInAngles: false

# Pointer / reference alignment
PointerAlignment: Left
ReferenceAlignment: Left

# Constructor initializer formatting
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4

# Include ordering
SortIncludes: true
IncludeBlocks: Preserve

# Alignment
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignOperands: true

# Keep readable lambdas
AllowShortLambdasOnASingleLine: Empty

# C++ specifics
Standard: c++20
ReflowComments: true
IndentCaseLabels: true

# Namespace indentation
NamespaceIndentation: None

# Keep empty lines clean
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

AlwaysBreakTemplateDeclarations: Yes
...
