[Desktop Entry]

Type=Application

Name=Fluvel
Name[fr_FR]=Fluvel

GenericName=Real-time computer vision and image analysis for research
GenericName[fr_FR]=Vision par ordinateur et analyse d’images en temps réel pour la recherche

Comment=Interactive real-time image segmentation and active contour experimentation
Comment[fr_FR]=Segmentation d’images interactive en temps réel et expérimentation de contours actifs

Exec=fluvel
Icon=fluvel

Terminal=false
StartupNotify=true
StartupWMClass=fluvel

Categories=Graphics;Science;
