[Desktop Entry]

Type=Application

Name=Fluvel
Name[fr_FR]=Fluvel

GenericName=Computer vision and image analysis
GenericName[fr_FR]=Vision par ordinateur et analyse d’images

Comment=Interactive real-time image segmentation and active contour experimentation
Comment[fr_FR]=Segmentation d’images interactive en temps réel et expérimentation de contours actifs

Exec=fluvel
Icon=fluvel

Terminal=false
StartupNotify=true
StartupWMClass=Fluvel

Categories=Graphics;Science;

Keywords=image;segmentation;computer-vision;research;
Keywords[fr_FR]=image;segmentation;vision;recherche;
