[Desktop Entry]

Type=Application

Name=Fluvel
Name[fr]=Fluvel

GenericName=Computer vision and image analysis
GenericName[fr_FR]=Vision par ordinateur et analyse d’images

Comment=Explore image segmentation with interactive and real-time visualization
Comment[fr]=Explorer la segmentation d'images avec visualisation interactive et en temps réel

Exec=fluvel
Icon=org.fluvel.Fluvel

Terminal=false
StartupWMClass=Fluvel

Categories=Graphics;Science;

Keywords=image;segmentation;computer-vision;research;
Keywords[fr_FR]=image;segmentation;vision;recherche;
