[Desktop Entry]
Name=Fluvel
Name[fr]=Fluvel
GenericName=Real-time computer vision and image analysis for research
GenericName[fr]=Vision par ordinateur et analyse d’images en temps réel pour la recherche
Comment=Explore image segmentation with interactive and real-time visualization
Comment[fr]=Explorer la segmentation d'images avec visualisation interactive et en temps réel
Exec=fluvel
Icon=org.fluvel.App
StartupWMClass=fluvel
Terminal=false
Type=Application
Categories=Graphics;Science;
